.task {
    margin: 0.6rem;
    padding: 1.25rem;
    background-color: #f4f4f4;
    cursor: pointer;
}

.task.reminder {
    border-left: 0.3rem;
}

.task h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}